body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(12, 15, 34);
    background-position: center top;

}

.bak {
    height: 163px;
    width: 100%;
    background-color: black;
    position: absolute;
    margin-top: -100px;
    margin-left: -10px;
}

.kinchik {
    color: rgb(255, 255, 255);
    position: absolute;
    margin-left: 900px;
    margin-top: 110px;
    color: rgb(58, 56, 182);
    font-family: Arial;
    font-weight: 800;
}

.vhod {
    position: absolute;
    margin-top: 115px;
    margin-left: 700px;
    font-family: Arial;
    color: white;
    font-size: 2.4rem;
    font-weight: 900;
}

.ipi {
    background-color: rgb(10, 12, 27);
    border: none;
    margin-top: 200px;
    position: absolute;
    margin-left: 690px;
    width: 450px;
    height: 63px;
    border-radius: 12px;
    font-family: Arial;
    font-size: 1.1rem;
    color: aliceblue;
    padding: 8px;
}

.voc {
    margin-top: 90px;
    position: absolute;
}

.vom {
    margin-top: 180px;
    position: absolute;
}

.vow {
    margin-top: 273px;
    position: absolute;

}

.vod {
    margin-top: 365 px;
    position: absolute;

}

.voa {
    margin-top: 466px;
    position: absolute;
}

.chre {
    background-color: rgb(255, 251, 7);
    margin-top: 227px;
    position: absolute;
    margin-left: 177px;
    height: 65px;
    border-radius: 12px;
    width: 250px;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Arial;
}

.ssd {
    margin-top: 764px;
    margin-left: 715px;
    color: #fff;
    font-weight: 100;
    font-family: Arial;
    position: absolute;
    font-size: 1rem;
    position: absolute;
}


.cy {
    width: 60px;
    height: 18px;
    margin-top: 764px;
    margin-left: 675px;
    position: absolute;
}

.ssb {
    margin-top: 764px;
    margin-left: 905px;
    color: rgb(245, 248, 77);
    font-weight: 100;
    font-family: Arial;
    position: absolute;
    font-size: 1rem;
    position: absolute;
    text-decoration: underline;
}

.rrp {
    margin-top: 35px;
    position: absolute;
    white-space: nowrap;
}

.vvv {
    width: 465px;
    height: 70px;
    background-color: rgb(229, 255, 0);
    position: absolute;
    margin-top: 840px;
    margin-left: 690px;
    border-radius: 12px;
    font-family: Arial;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
}

.ioc {
    margin-top: 370px;
    position: absolute;
}